# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.venv/
venv/
env/
.env

# Node
node_modules/
frontend/dist/
frontend/.env

# Build
dist/
build/
*.egg-info/

# Docker
.docker/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# MongoDB data
mongo_data/

# Logs
*.log
